.app {
  box-sizing: border-box;
  width: 1440px;
  margin: 0 auto;
  padding: 50px 174px 50px 166px;
  position: relative;
  font-family: "Roboto Condensed", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

button {
  font-family: inherit;
}
