.comic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.comic__cont {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.comic__img {
  display: block;
  width: 293px;
  height: 450px;
  object-fit: cover;
}

.comic__info {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 550px;
}

.comic__name {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 22px;
  line-height: 29px;
}

.comic__descr {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
}

.comic__price {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #9f0013;
  margin-top: 25px;
}

.comic__back {
  border: none;
  background-color: inherit;
  margin: 0;
  padding: 0;
  justify-self: end;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.comic__back:hover {
  color: #9f0013;
}
