.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 15px;
}

.form__field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.input {
  box-sizing: border-box;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  width: 250px;
  padding: 10px;
  border: none;
}

.char__searchWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin-top: 25px;
}

.error {
  margin: 0;
  margin-top: 25px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #9f0013;
}

.char__searchSuccess {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #03710e;
}

.charInfo {
  box-sizing: border-box;
  padding: 25px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 5;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.comics {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.button {
  border: none;
  text-decoration: none;
  min-width: 101px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  transition: 0.3s transform;
  background-color: transparent;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.button:hover {
  transform: translateY(-5px);
}

.button::before {
  content: "";
  display: block;
  height: 10px;
  margin-left: 10px;
  transition: none;
}

.button::after {
  content: "";
  display: block;
  height: 10px;
  margin-right: 10px;
  transition: none;
}

.button__main::before {
  background-color: #9f0013;
}

.button__main::after {
  background-color: #9f0013;
}

.button__secondary::before {
  background-color: #5c5c5c;
}

.button__secondary::after {
  background-color: #5c5c5c;
}

.inner {
  display: block;
  position: relative;
  line-height: 18px;
  padding: 0 18px;
  transition: none;
  margin: 0;
}

.inner:hover {
  color: #fff;
}

.inner::before {
  border-style: solid;
  border-width: 0 0 10px 10px;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -10px;
  transition: none;
}

.inner::after {
  border-style: solid;
  border-width: 0 0 10px 10px;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -10px;
  transform: rotate(180deg);
  transition: none;
}

.inner__main {
  background-color: #9f0013;
}

.inner__main::before {
  border-color: #9f0013 transparent;
}

.inner__main::after {
  border-color: #9f0013 transparent;
}

.inner__secondary {
  background-color: #5c5c5c;
}

.inner__secondary::before {
  border-color: #5c5c5c transparent;
  transition: none;
}

.inner__secondary::after {
  border-color: #5c5c5c transparent;
  transition: none;
}
