.charlist {
  display: flex;
  flex-direction: column;
}

.charlist__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 25px;
  row-gap: 30px;
}

.button {
  min-width: 101px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  transition: 0.3s transform;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.button:disabled {
  filter: grayscale(70%);
}

.button:hover {
  transform: translateY(-5px);
}

.button::before {
  content: "";
  display: block;
  height: 10px;
  margin-left: 10px;
  transition: none;
}

.button::after {
  content: "";
  display: block;
  height: 10px;
  margin-right: 10px;
  transition: none;
}

.button__main::before {
  background-color: #9f0013;
}

.button__main::after {
  background-color: #9f0013;
}

.button__long {
  display: block;
  width: 170px;
  margin: 45px auto 0 auto;
}

.inner {
  position: relative;
  line-height: 18px;
  padding: 0 18px;
  transition: none;
  margin: 0;
}

.inner:hover {
  color: #fff;
}

.inner::before {
  border-style: solid;
  border-width: 0 0 10px 10px;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -10px;
  transition: none;
}

.inner::after {
  border-style: solid;
  border-width: 0 0 10px 10px;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -10px;
  transform: rotate(180deg);
  transition: none;
}

.inner__main {
  background-color: #9f0013;
}

.inner__main::before {
  border-color: #9f0013 transparent;
}

.inner__main::after {
  border-color: #9f0013 transparent;
}

.char__item_enter {
  opacity: 0;
}
.char__item_enter_active {
  opacity: 1;
  transition: opacity 500ms linear;
}
